# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Android Studio & Gradle
/android/build/
/android/app/build/
/android/app/debug
/android/app/profile
/android/app/release
.gradle/
.kotlin/
/android/.kotlin/
local.properties

# iOS & Pods
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/app.flx
/ios/Flutter/app.zip
/ios/Flutter/flutter_assets/
/ios/ServiceDefinitions.json

# Linux & Desktop
/linux/flutter/ephemeral/
/windows/flutter/ephemeral/

# Secrets, Keystores, & Private Keys
*.keystore
*.jks
*.p12
*.key
*.pem
*.pfx
.env
.env.*
!.env.example
google-services.json
GoogleService-Info.plist

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json
